.box {
    position : absolute;
    width    : 100%;
    top      : 35px;
}

.box select {
    padding            : 7px 20px 7px 9px;
    width              : 100%;
    color              : #999999;
    border             : solid 1px #ccc;
    font-size          : 14px;
    -webkit-appearance : button;
    appearance         : button;
    outline            : none;
    cursor             : pointer;
}

.box::before {
    content        : "\02C7";
    position       : absolute;
    top            : 4px;
    right          : 6px;
    height         : 100%;
    text-align     : center;
    font-size      : 37px;
    line-height    : 45px;
    pointer-events : none;
}


.box select option {
    padding : 30px;
}

.boxContainer {
    position : relative;
    height   : 70px;
}

.row {
    margin-top : 25px;
}

#search-address {
    border    : none;
    font-size : 14px;
    width     : 96%;
    outline   : 0;
    padding   : 7px 9px;
    border    : solid 1px #ccc;
}

.locCont {
    margin-top : 15px;
}

