.navBar {
    padding         : 12px 68px 12px 10px;
    display         : flex;
    box-shadow      : 0 0 4px #d4d3d3;
    justify-content : flex-end;
    color           : #7f7f7f;
}

.right-part {
    display : flex;
}

.user-name {
    color       : black;
    margin-left : 7px;
}

.nav-item {
    margin-left : 20px;
}

.user-img {
    width         : 20px;
    height        : 20px;
    object-fit    : cover;
    border-radius : 50%;
}

.hideDropdown{
    display: none;
}

.dropdown {
    top: 19px;
    left: 15px;
    cursor: auto;
    background-color: #faf8f8;
    position: absolute;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    z-index: 1;
}

.user-info {
    display: flex;
    position: relative;
    cursor: pointer;
}

.dropdown a {
    text-decoration-line: none;
    color: #000;
}