.success {
    z-index          : 3;
    position         : fixed;
    display          : flex;
    left             : 0;
    top              : 0;
    width            : 100%;
    height           : 100%;
    background-color : #9e9e9e;
}

.cont-success {
    margin      : auto;
    width       : 15%;
    position    : relative;
    padding     : 0;
    font-size   : 12px;
    font-weight : 400;
    outline     : 0;
    background  : white;
    color       : black;
    padding     : 11px 38px 25px 38px;
    text-align  : center;
}

.cont-success img {
    width : 40%;
}

.status-success {
    font-weight   : bold;
    margin-bottom : 10px;
    padding       : 0px 28px;
}

.ok {
    margin-top : 25px;
    color      : white;
    background : black;
    border     : none;
    cursor     : pointer;
    padding    : 7px 55px;
}

