.title {
    border : none;
    font-size: 13px;
}

.title::after {
    content : 'AMD';
}

.field {
    margin-top : 15px;
    font-size  : 13px;
    width      : 96%;
    outline    : 0;
    padding    : 7px 9px;
    border     : solid 1px #ccc;
}

.description-area {
    min-height  : 180px;
    font-family : sans-serif;
}

.bold-right {
    float       : right;
    font-weight : bold;
    color       : #414040;
    font-family : inherit;
    font-size: 12px;
}

.bold-right-accapt {
    font-weight : bold;
    color       : #414040;
    font-family : inherit;
    font-size: 12px;
    margin-left: 35px;
}

.container-input {
    display             : block;
    position            : relative;
    cursor              : pointer;
    font-size           : 22px;
    -webkit-user-select : none;
    -moz-user-select    : none;
    -ms-user-select     : none;
    user-select         : none;
}

/* Hide the browser's default checkbox */
.container-input input {
    position : absolute;
    opacity  : 0;
    cursor   : pointer;
    height   : 0;
    width    : 0;
}

/* Create a custom checkbox */
.checkmark {
    position         : absolute;
    top              : 0;
    left             : 0;
    height           : 16px;
    width            : 16px;
    background-color : white;
    border           : 1px solid #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-input input:checked ~ .checkmark {
    background-color : white;
    border           : 1px solid #ccc;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content  : "";
    position : absolute;
    display  : none;
}

/* Show the checkmark when checked */
.container-input input:checked ~ .checkmark:after {
    display : block;
}

/* Style the checkmark/indicator */
.container-input .checkmark:after {
    left              : 4px;
    top               : 1px;
    width             : 5px;
    height            : 8px;
    border            : 1px solid #958f8f;
    border-width      : 0 3px 3px 0;
    -webkit-transform : rotate(45deg);
    -ms-transform     : rotate(45deg);
    transform         : rotate(45deg);
}

.wrapper {
    width : 68%;
    display: inline-block;
}
